<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= current_page.data.title || "RaceCar" %></title>

    <%= partial "meta" %>

    <%= stylesheet_link_tag 'main' %>
  </head>

  <body>
    <%= partial "navigation" %>

    <%= yield %>

    <%= partial "footer" %>

    <%= javascript_include_tag 'main.bundle' %>
    <%= javascript_include_tag 'drive.bundle' %>
    <script defer data-domain="team-racecar.org" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  </body>
</html>
