---
title: RaceCar - Virtual Motorsport Team
---

<!-- Intro -->
<div class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
        <p>
          <%= image_tag 'logos/rc-logo-2020-inv.svg', style: 'width: 100px' %>
        </p>
				<h1 class="brand-heading">RaceCar</h1>
				<p class="intro-text">
					Virtual Racing Team since 2001
				</p>
				<a href="#pageid" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</div>

<!-- About -->
<section id="pageid">
<div class="container content-section text-center">
	<div class="row justify-content-center">
		<div class="col-md-8">
      <h2 class="d-block">Lorem ipsum</h2>
			<p>
				Praesent ac dignissim diam. Aliquam lobortis elit et sapien eleifend, at sollicitudin metus elementum. Morbi imperdiet id ipsum at tristique. Nam suscipit tristique sem, <a href="#">quis</a> laoreet leo. Maecenas eget ante ipsum.
			</p>
			<p>
				<a href="#" class="btnghost"><i class="fa fa-download"></i> Curriculum Vitae</a>
			</p>
		</div>
	</div>
</div>
</section>

<!-- Portfolio -->
<section id="portfolio">
<div class="gallery">
	<ul class="row">
		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/146.jpg' %>
  		</a>
		</li>

		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/37.jpg' %>
  		</a>
		</li>

		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/30.jpg' %>
  		</a>
		</li>


		<li class="col-md-3">
  		<a href="portfolio-item.html">
        <%= image_tag 'pictures/106.jpg' %>
  		</a>
		</li>

		<li class="col-md-3">
    	<a href="portfolio-item.html">
    	  <%= image_tag 'pictures/overtake.jpg' %>
    	</a>
		</li>

		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/GRAB_039.jpg' %>
  		</a>
		</li>


		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/GRAB_015.jpg' %>
  		</a>
		</li>

		<li class="col-md-3">
  		<a href="portfolio-item.html">
  		  <%= image_tag 'pictures/80.jpg' %>
  		</a>
		</li>

	</ul>
</div>
</section>

<!-- Contact -->
<section id="contact">
<div class="container content-section text-center">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2>About us</h2>
			<p>
				 RaceCar ist ein nicht kommerzielles virtuelles Motorsport-Team, das seit vielen Jahren in Online-Ligen verschiedener Rennsimulationen aktiv ist.
			</p>
			<p>
        <i><a href="mailto:wowthemesnet@gmail.com" class="highlightlink">wowthemesnet@gmail.com</a></i>
			</p>
			<ul class="list-inline banner-social-buttons">

				<li class="d-inline">
				<a href="https://twitter.com/team_racecar" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
				</li>

				<!--<li class="d-inline">
				<a href="https://www.facebook.com/pages/wowthemesnet/562560840468823" class="btn btnghost btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
				</li>

				<li class="d-inline">
				<a href="https://github.com/wowthemesnet/template-aries-bootstrap-html" class="btn btnghost btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
				</li>-->

			</ul>
		</div>
	</div>
</div>
</section>
